/* 4. CSS Reset */
*{
    margin:0px;
    padding: 0px;
    font-family: 'Bree Serif', serif;
    
    font-weight: bold;
}
/* 5.CSS Variables */
:root{
    --navbar-height:59px;
}
/* 6. Navbar */
#navbar{
    display: flex;
    align-items: center;
    position: relative;
    /* 15. Important to do to avoid overflow of bg image */
    /* 7. Vertical center */
}
#navbar::before{
    /* 14. Setting background to greyish image */
    content: "";
    background-color: black;
    position: absolute;
    height: 100%;
    width:100%;
    z-index:-1;
    opacity: 0.4;
}
#navbar ul{
    display: flex;
    /* 10. Display flex for navbar */
}
/* Navigation bar: Logo and Image */
#logo{
    /* 8. First set random value, then inspect element se correct */
margin:19px 14px;
}
#logo img{
    margin:5px 14px;
    height: 56px;
    /* 9. Same as 8 here */
}
#navbar ul li{
    list-style: none;
    font-size: 1.3rem;
    /* 11. Styling for list items in navbar */
}
#navbar ul li a{
    
    padding:3px 22px;
    border-radius: 20px;
    text-decoration: none;
    color: white;
    /* 12. Styling anchor list items */
}
#navbar ul li a:hover{
    
    padding:3px 22px;
    border-radius: 20px;
    text-decoration: none;
    color: black;
    background-color: white
    /* 13. Styling hover anchor list items */
}
#home{
    display:flex;
    flex-direction: column;
    padding:3px 200px;
    justify-content: center;
    align-items: center;
    height: 480px;
    /* 14. To adjust bg image */
}

#home::before{
    content: "";
    background: url(/images/bg.jpg) no-repeat center center/cover;
    position: absolute;
    height: 100%;
    width:100%;
    z-index:-1;
    opacity:0.9;

}
p{
    text-align: center;
    
}
/* Utility classes */
.h-primary{
    font-size: 2.8rem;
    padding:12px;
    
}
.h-secondary{
font-size: 2.8rem;
padding:12px;
}
#home h1{
    color: rgb(57, 8, 8);
    
    font-weight: bolder;
}
#home p{
    font-size: 1.2rem;
}
.btn{
    padding:6px 20px;
    border:2px solid black;
    background-color: rgb(165, 99, 99);
    margin: 17px;
    font-size: 1.3rem;
    border-radius: 10px;
    cursor: pointer;
}
.btn:hover{
    padding:6px 20px;
    border:2px solid black;
    background-color:white;
    margin: 17px;
    font-size: 1.3rem;
    border-radius: 10px;

}
/* Services Section */
.center{
    text-align: center;
}
#services{
    margin:34px;
    display: flex;
}
.box{
  
    border: 2px solid brown;
    padding:34px;
    margin: 3px 6px;
    border-radius: 28px;
    background-color:white
}
.box:hover{
    
    border: 2px solid brown;
    padding:34px;
    margin: 3px 6px;
    border-radius: 28px;
    background-color: rgb(246, 229, 209)
}

#services .box img{
    display: block;
    height:160px;
    margin: auto;
}

#services-container{
    margin:140px 34px;
}